<%- include('base'); -%>
  <!-- ======= Intro Section ======= -->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="assets/img/intro-img.svg" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>Learn<br><span>Here</span><br>for free!</h2>
        <div>
          <a href="/contents" class="btn-get-started scrollto">Get Started</a>
          
        </div>
      </div>

    </div>
  </section><!-- End Intro Section -->

  <%- include('footer'); -%>